<?php

return array(
    'database' => array(
        'host' => 'localhost',
        'port' => null,
        'database' => 'fh_socialengine',
        'username' => 'root',
        'password' => 'root',
    ),
    'apns' => array(
        //'cert' => __DIR__ . '/../cert/fhc_dev.pem',
        'cert' => __DIR__ . '/../cert/fhc_prod.pem', // Prod
        'cert_auth' => __DIR__ . '/../cert/entrust_root_certification_authority.pem',
    ),
    'test' => array(
        'database' => array(
            'host' => 'localhost',
            'port' => null,
            'database' => 'fhc_pushserver_test',
            'username' => 'root',
            'password' => 'root',
        ),
    ),
);
